.container {
  width: 80%;
  margin: 0 auto;
}

.error {
  color: red;
}

/* ---------------------------- header ----------------------------- */
header {
  background-color: rgba(79, 143, 255, .8);
  /* display: none; */
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
}

header .container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.end {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

#logout {
  margin-right: 20px;
}
/* ----------------------------------------------------------------- */

/* ----------------------------- login ------------------------------- */
/* 最初の画面 */
.login {
  display: none;
}

.loginForm {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 4px;
}

.loginForm h2 {
  text-align: center;
}

.mailForm,
.passForm {
  margin: 20px;
}

.loginForm label {
  display: inline-block;
  text-align: right;
  width: 120px;
  margin-right: 10px;
}

.loginForm input {
  width: 300px;
  text-align: center;
}

.loginForm button {
  margin: 20px;
}

.signupLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginError {
  display: none;
  text-align: center;
  color: red;
}

/* ------------------------------------------------------------------- */

/* ----------------------------- signup -------------------------------- */
.signup {
  display: none;
}

.signupForm {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 4px;
}

.signupName {
  margin: 20px;
}

.signupForm h2 {
  text-align: center;
}

.signupForm label {
  display: inline-block;
  text-align: right;
  width: 120px;
  margin-right: 10px;
}

.signupForm input {
  width: 300px;
  text-align: center;
}

.signupForm button {
  margin: 20px;
}

.loginLink {
  display: flex;
  justify-content: end;
}

/* --------------------------------------------------------------------- */

/* ------------------------------ home -------------------------------- */
.home {
  display: none;
}

/* --------------------- top ----------------------- */
.top {
  display: none !important;
}

.top {
  display: flex;
  align-items: center;
  background-color: orange;
  height: 250px;
  overflow: hidden;
}

.top h1 {
  text-align: center;
}

/* --------------------- form ------------------------ */
.search .container {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.search h2,
.search label {
  padding-left: 20px;
}

/* --------------------- display ------------------------- */
.display {
  height: 100%;
}

.item {
  border-top: 1px solid gray;
  margin-top: 5px;
  padding: 10px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.display h2 {
  margin: 10px;
}

.description img,
.description .sentence {
  width: 50%;
  padding: 20px;
  margin: 0;
  height: 100%;
}

.description img {
  object-fit: cover;
}

#workDetail {
  font-size: 18px;
  margin: 10px 0;
}

#sentence {
  height: 190px;
  margin: 5px 5px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.snsLink {
  display: flex;
  justify-content: end;
}

.snsLink a {
  width: 150px;
  margin: 10px;
}

#instaLink {
  text-decoration: none;
  transition: .5s;
  text-align: center;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  padding: 5px;
  border-radius: 4px;
}
#instaLink:hover {
  opacity: .8;
}
#instaLink:active {
  transition: .5s;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#twitterLink {
  text-decoration: none;
  transition: .5s;
  text-align: center;
  background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(233, 248, 255) 0%, rgba(0, 212, 255, 1) 100%);
  padding: 5px;
  border-radius: 4px;
}
#twitterLink:hover {
  opacity: .8;
}
#twitterLink:active {
  transition: .5s;
  background: rgb(0, 212, 0);
  background: linear-gradient(90deg, rgba(0, 212, 0, 1) 0%, rgba(0, 212, 255, 1) 35%);
}

/* -------------------------------------------------------------------- */

/* ------------------------ hamburger -------------------------- */
.none {
  opacity: 0;
  transition: .3s;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav p {
  margin: 0;
  font-size: 12px;
  transition: .3s;
  text-align: center;
}

.navbar {
  z-index: 10;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  background-color: black;
  border-radius: 2px;
  margin: 2px;
  width: 25px;
  height: 4px;
  opacity: 0.7;
  transition: 0.5s;
}

/* hamburger → × animation JSで付与
		div class=navbar にclass=toggleが付与されることで適用される */
.toggle .line1 {
  transform: rotate(-405deg) translate(-5px, 6px);
  transition: 0.5s;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
  transition: 0.5s;
}


/* ---------------------- sidemenu ------------------------ */
.list-active {
  transform: translateX(0%) !important;
  transition: .5s;
}

.sidemenu {
  font-family: 'Caveat', cursive, 'RocknRoll One', sans-serif;
  background-color: rgb(223, 255, 255);
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  padding-top: 80px;
  z-index: 1;
  transform: translateX(100%);
  transition: .5s;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid gray;
}

.sidemenu h2 {
  border-bottom: 1px solid gray;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex label {
  display: inline-block;
  text-align: center;
  width: 120px;
  font-weight: bold;
}

.univ, .club, .text, .img {
  margin: 20px 0;
}

.univ, .club {
  width: 280px;
}

.img, .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text textarea {
  width: 350px;
}

.img label {
  width: 200px;
}

.snsLinkbar {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.snsLinkbar label {
  width: 80px;
}

.snsLinkbar input {
  width: 100px;
}

.submit {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit button {
  width: 120px;
  height: 30px;
  background-color: #ffd61a;
  box-shadow: 0 3px #ba9907;
  border-radius: 3px;
  border: none;
  transition: .3s;
}

.submit button:hover {
  opacity: .8;
}

.submit button:active {
  box-shadow: none;
  transform: translateY(3px);
  transition: .3s;
}


/* -------------------- mypage ------------------------ */
.mypage {
  display: none;
  background-color: #5258cf;
  /* 背景色を白い色に設定する */
}